body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  font-size: 18px;
}

a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.newslist {
  margin: 0;
  height: 100%;
}

.leaderboardzone {
  padding: 3px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-link {
  color: inherit;
}

.main-story {
  overflow: hidden;
}

.main-story-excerpt {
  visibility: visible;
}

.list-wrapper {
  height: 100%;
}